# MySQL Configuration
# Launch gmysql backend
launch+=gmysql
# gmysql parameters
gmysql-host=127.0.0.1
gmysql-port={{ mysql_port }}
gmysql-dbname={{ database_name }}
gmysql-user={{ database_user }}
gmysql-password={{ database_admin_password }}
gmysql-dnssec=yes
# gmysql-socket=