# api   Enable/disable the REST API (including HTTP listener)
#
# api=no
api=yes
#################################
# api-key       Static pre-shared authentication key for access to the RE>
#
api-key={{ server_api_key }}
#################################
# autosecondary Act as an autosecondary (formerly superslave)
#
# autosecondary=no

# include-dir=include-dir=/etc/powerdns/pdns.d

#################################
# launch        Which backends to launch and order to query them in
#
# launch=
launch=